@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebf4f6;
  --foreground: #09637e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Font Application */
body {
  font-family: var(--font-roboto) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-doto) !important;
}
